label {
    width:100%;
    display: flex;
    margin-left: 15%;
    font-size: x-large;
}
.Scoreboard {
    display: flex;
    text-align: center;
}
.Score {
    width:50%;
}
.HandDisplay {
    display: flex;
    text-align: center;
}
.Hands {
    width:50%;
}
.HandContainer {
    display: flex;
}
.HumanHands {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width:47%;
    margin-left: 3%;
}
.HumanHands h1 {
    width: 100%;
    margin: 0;
}
.HandSelector {
    display: flex;
    width: 100%;
    padding-top: 0%;
    padding-bottom: 2%;
}
.Options {
    text-align: center;
    width: 50%;
    margin-top: 8%;
}
.Rock {
    max-width: 45%;
    margin: 10%;
    margin-right: 45%;
}
.Paper {
    max-width: 30%;
    margin: 5%;
    margin-right: 55%;
}
.Scissors {
    max-width: 45%;
    margin-top: 5%;
    margin-right: 70%;
}
.CompHandContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    width: 50%;
}
.CompHandContainer h1 {
    width:100%;
    margin-top: 0%;
    margin-bottom: 3%;
}
.CompImgContainer {
    width:50%;
    margin-left: 35%;
    margin-bottom: 1%;
    max-height: 34%;
}
.CompImage {
    max-width: 60%;
    max-height: 100%;
}
.Reset {
    margin-left: 3%;
}